@media screen and (max-width: 480px) {


    /* -------- STYLING FOR LOGIN ------ */

    .content-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: 100%;
        height: 927px;
        background: rgb(248, 249, 251);
        overflow-x: hidden;
    }

    .form-input{
        width: 100%;
        height: 65px;
        padding-left: 1rem;
        margin-bottom: 2rem;
        border: none;
        outline: none;
        border-radius: 6px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    }

    .btn-login{
        width: 50%;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 6px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        font-size: 14px;
        color: #000;
        font-weight: 600;
    }

    .form-icons{
        bottom: 34.5%;
        left: 84%;
    }

    /* -------------------- STYLING LOGIN END ---------------- */


    /* ------------------ STYLING FOR HOME ----------------- */

    .home{
        background: rgb(248, 249, 251);
    }

    .content-home{
        margin-top: 5rem;
        padding: 2rem;
    }

    .info-home{
        width: 100%;
        height: 220px;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        margin-top: 2rem;
        padding: 2rem;
    }

    .balance-group{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }

    .btn-qr{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        border: none;
        outline: none;
    }

    .line {   
        border-left: 1px dashed #aaa;
        margin: 0rem 0rem 0rem 1rem;
    }

    .balance{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0rem 0rem 0rem 2rem;
    }

    .balance div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .carousels{
        width: 100%;
        height: 300px;
        margin-top: 1rem;
        background-color: #ffffff;
    }

    .carousel-item{
        height: 250px;
    }

    .bg-yellow{
        background-color: yellow;
    }

    .bg-blue{
        background-color: royalblue;
    }

    .bg-green{
        background-color: aquamarine;
    }

    .carousel-indicators{
        margin: 0rem 23rem -2rem 0rem;
    }

    .carousel-indicators [data-bs-target] {
        border-top: unset;
        width: 10px;
        border-bottom: unset;
        border: 1px solid transparent;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 100%;
        background-color: #aaa;
        height: 10px;
        width: 10px;
      }
      
      .carousel-indicators .active {
        border-top: unset;
        border-bottom: unset;
        border: 1px solid transparent;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 10px;
        background-color: #000;
        height: 10px;
        width: 10px;
      }

      .nav-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 120px;
        background-color: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        margin-top: 5.6rem;
      }

      .nav-bottom Button{
        background: none;
        border: none;
        outline: none;
        margin: 1rem 4rem 0rem 4rem;
      }

      .nav-bottom Button Link p{
        text-decoration: none!important;
        color: #000;
      }

      .modal-dialog{
        margin: 0;
      }

      .modal-content{
        height: 927px;
      }

      .modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    /* ----------------- STYLING HOME END ---------------- */

    /* -------------- STYLING FOR NAVBAR --------------- */

    nav{
        width: 100%;
        height: 100px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        position: fixed;
        top: 0;
    }

    /* -------------- STYLING NAVBAR END --------------------- */

    /* -------------------- STYLING FOR MENU ------------------- */

    .menu{
        background: rgb(248, 249, 251);
    }

    .tabs{
        background-color: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        height: 100px;
    }

    .nav-link.active{
        border-bottom: 2px solid #000;
        background-color: none!important;
    }

    .nav-link{
        color: #000!important;
    }

    .content-menu{
        margin: 2rem 0rem 8rem 0rem;
        padding: 3rem 0rem 9rem 0rem;
        background: rgb(248, 249, 251);
    }

    .seasonal{
        margin: 4rem 0rem 2rem 0rem;
    }

    .coffee{
        margin-top: 4rem;
    }

    .product{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    }

}